.App {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
  width: 90%;
}

.container {
  padding: 60px 20px 0px 20px;
  margin: auto;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(44, 53, 151) 0%,
    rgba(91, 50, 167, 0.9) 59%,
    rgba(34, 55, 161, 0.9) 100%
  );
  border-radius: 10px;
}

.buttonContainer {
  text-align: center;
  margin-bottom: auto;
}

.App .container button {
  border: none;
  outline: none;
  width: 180px;
  padding: 8px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
}

.App .container button:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}

.App .container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.App .container input::-webkit-input-placeholder {
  font-size: 14px;
}
