.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container button {
  border: none;
  outline: none;
  width: 180px;
  padding: 8px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #312fc0;
  margin: 10px;
  border-radius: 10px;
}

.container button:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}

.container input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgb(82, 107, 139);
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
}
.container input:hover {
  border: 1px solid white;
}

.container input::-webkit-input-placeholder {
  color: white;
}

.iframe {
  width: 80%;
  display: block;
  height: 60vh;
  border: none;
  border-radius: 10px;
}

.missingIframe {
  width: 80%;
  display: block;
  height: 60vh;
  background: rgba(82, 107, 139, 0.541);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vw;
  color: rgb(236, 37, 37);
}

.footer {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.container .footer a {
  text-decoration: none;
  color: rgb(183, 217, 255);
}
