html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    ellipse at bottom,
    hsl(246, 91%, 8%),
    hsl(251, 75%, 19%)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
