html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    ellipse at bottom,
    hsl(344, 7%, 68%),
    hsl(341, 16%, 81%),
    hsl(267, 14%, 75%)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
