html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    ellipse at bottom,
    hsl(342, 69%, 35%),
    hsl(342, 50%, 43%),
    hsl(268, 73%, 25%)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
